<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <record id="building_action" model="ir.actions.act_window">
    <field name="name">Buildings</field>
    <field name="res_model">schematic_configurator.building</field>
    <field name="view_mode">tree,form</field>
  </record>

  <record id="level_action" model="ir.actions.act_window">
    <field name="name">Levels</field>
    <field name="res_model">schematic_configurator.level</field>
    <field name="view_mode">tree,form</field>
  </record>

  <record id="room_action" model="ir.actions.act_window">
    <field name="name">Rooms</field>
    <field name="res_model">schematic_configurator.room</field>
    <field name="view_mode">tree,form</field>
  </record>

  <record id="installation_action" model="ir.actions.act_window">
    <field name="name">Installations</field>
    <field name="res_model">schematic_configurator.installation</field>
    <field name="view_mode">tree,form</field>
  </record>

  <record id="panel_action" model="ir.actions.act_window">
    <field name="name">Panels</field>
    <field name="res_model">schematic_configurator.panel</field>
    <field name="view_mode">tree,form</field>
  </record>

  <record id="slot_action" model="ir.actions.act_window">
    <field name="name">Slots</field>
    <field name="res_model">schematic_configurator.panel.slot</field>
    <field name="view_mode">tree,form</field>
  </record>

  <record id="module_action" model="ir.actions.act_window">
    <field name="name">Modules</field>
    <field name="res_model">schematic_configurator.module</field>
    <field name="view_mode">tree,form</field>
  </record>

  <record id="graphiql_action" model="ir.actions.act_url">
    <field name="name">GraphiQL</field>
    <field name="target">self</field>
    <field name="url">/graphiql/demo</field>
  </record>

  <menuitem name="Schematic Configurator" id="menu_root" web_icon="schematic_configurator,static/description/icon.png"/>

  <menuitem name="Docs" sequence="1" id="docs_menu" parent="menu_root"/>
  <menuitem name="Objects" sequence="2" id="object_menu" parent="menu_root"/>
  <menuitem name="Configuration" sequence="3" id="configuration_menu" parent="menu_root"/>

  <menuitem name="Installations" sequence="1" id="installation_menu" parent="docs_menu" action="installation_action"/>
  <menuitem name="Panels" sequence="2" id="panel_menu" parent="docs_menu" action="panel_action"/>
  <menuitem name="Slots" sequence="3" id="slot_menu" parent="docs_menu" action="slot_action"/>
  <menuitem name="Modules" sequence="4" id="module_menu" parent="docs_menu" action="module_action"/>

  <menuitem name="Buildings" sequence="1" id="building_menu" parent="object_menu" action="building_action"/>
  <menuitem name="Levels" sequence="2" id="level_menu" parent="object_menu" action="level_action"/>
  <menuitem name="Rooms" sequence="3" id="room_menu" parent="object_menu" action="room_action"/>

  <menuitem name="GraphiQL" sequence="1" id="graphiql_menu" parent="configuration_menu" action="graphiql_action"/>

</odoo>
